'.liquid':
  'Liquid replace':
    'prefix': 'repl'
    'body': " | replace: '${1:substring}', '${2:replacement}'"

  'Liquid number_of_comments':
    'prefix': 'numcom'
    'body': '{{ number_of_comments }}'

  'Liquid script (local)':
    'prefix': 'cssloc'
    'body': """
    {{ "${1}" | ${2}asset_url | script_tag }}
    """

  'Liquid script (remote)':
    'prefix': 'cssrem'
    'body': """
    {{ "${1}" | script_tag }}
    """

  'Liquid stylesheet (local)':
    'prefix': 'cssloc'
    'body': """
    {{ "${1}" | ${2}asset_url | stylesheet_tag }}
    """

  'Liquid stylesheet (remote)':
    'prefix': 'cssrem'
    'body': """
    {{ "${1}" | stylesheet_tag }}
    """

  'Liquid paginate by':
    'prefix': 'pagby'
    'body': """
    {% paginate ${1} by ${2} %}
      ${3}
    {% endpaginate %}
    """

  'Liquid for product in collection.products':
    'prefix': 'forprodincp'
    'body': """
    {% for product in collection.products %}
      ${1}
    {% endfor %}
    """

  'Liquid If Collection Products Size':
    'prefix': 'ifcps'
    'body': """
    {% if collection.products.size > 0 %}
      ${1}
    {% endif %}
    """

  'Liquid form':
    'prefix': 'form'
    'body': """
    {% form '${1}', ${2} %}
      ${3}
    {% endform %}
    """

  'Liquid include with':
    'prefix': 'incwith'
    'body': """
    {% include "${1}" with ${2} %}
    """

  'Liquid include':
    'prefix': 'inc'
    'body': """
    {% include "${1}" %}
    """

  'Liquid capture':
    'prefix': 'cap'
    'body': """
    {% capture ${1} %}
    ${2}
    {% endcapture %}
    """

  'Liquid assign':
    'prefix': 'ass'
    'body': """
    {% assign ${1} = ${2} %}
    """

  'Liquid tablerow':
    'prefix': 'tabrow'
    'body': """
    {% tablerow ${1} %}
      ${2}
    {% endtablerow %}
    """

  'Liquid for':
    'prefix': 'for'
    'body': """
    {% for ${1} %}
      ${2}
    {% endfor %}
    """

  'Liquid cycle':
    'prefix': 'cycle'
    'body': """
    {% cycle '${1}' %}
    """

  'Liquid case':
    'prefix': 'case'
    'body': """
    {% case ${1} %}
      {% when ${2} %}
        ${3}
      {% else %}
        ${4}
    {% endcase %}
    """

  'Liquid unless (inline)':
    'prefix': 'unlin'
    'body': '{% unless ${1} %}${2}{% endunless %}'

  'Liquid unless':
    'prefix': 'unl'
    'body': """
    {% unless ${1} %}
      ${2}
    {% endunless %}
    """

  'Liquid if / elseif':
    'prefix': 'ifelif'
    'body': """
    {% if ${1} %}
      ${2}
    {% elsif ${3} %}
      ${4}
    {% endif %}
    """

  'Liquid if':
    'prefix': 'if'
    'body': """
    {% if ${1} %}
      ${2}
    {% endif %}
    """

  'Liquid raw':
    'prefix': 'raw'
    'body': """
    {% raw %} ${1} {% endraw %}
    """

  'Liquid comment':
    'prefix': 'com'
    'body': """
    {% comment %}
      ${1}
    {% endcomment %}
    """
